{% extends 'base.html' %}
{% load static %}
{% block body %}

    {#######      ADD FOLDER MODAL      #######}
    {% include 'notes/addfolder.html' %}
    <div class="container-fluid">
        <div class="row">

            <div class="test">
                {#######      FOLDERS      #######}
                {% include 'notes/folder-list.html' %}

                {#######      MIDDLE SIDEBAR      #######}
                {% include 'notes/middle-sidebar.html' %}
            </div>
            {#######      NOTE CONTENT      #######}
            {% include 'notes/note-content.html' %}

        </div>
    </div>
{% endblock body %}