{% load staticfiles %}
<div class="note-content col-sm-6 col-sm-offset-5 main">
    <div class="note-info">
        <div class="row">
            <section class="title h2 col-lg-5">{{ notes.first.title }}</section>

            <div class="btn-group-lg col-lg-offset-5 center-block">
                <a class="btn star" href="#"><i class="text-muted glyphicon glyphicon-star-empty"></i></a>
                <a class="btn delete" href="#"><i class="text-muted glyphicon glyphicon-trash"></i></a>
                <a class="btn font" href="#"><i class="text-muted glyphicon glyphicon-font"></i></a>
                <a class="btn resize" href="#"><i class="text-muted glyphicon glyphicon-resize-full"></i></a>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="editor">
                {{ notes.first.body|safe }}
            </div>
        </div>
        <br><br>

        <div class="row">
            <small class="tags col-lg-2 pull-left text-muted">
                {% for tag in tags %}
                    {{ tag }}
                {% endfor %}
            </small>

            <small class="word-count col-lg-1 col-lg-offset-5"></small>
        </div>

    </div>
</div>
<script src="{% static 'noted/js/word.count.js' %}"></script>
<script src="{% static 'noted/js/toolbar.js' %}"></script>