<div class="list-group">
    {% for note in notes %}
        <a belongs-to="{{ note.folder }}" data-noteid="{{ note.id }}" href="#"
           class="list-group-item note">
            <div class="header">
                <strong class="primary-font"
                        data-placeholder="">{{ note.title }}</strong>
                <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>
                    {{ note.timestamp|date:"M j" }}
                </small>
            </div>
            <p>
                <small class="preview">
                    {{ note.body|slice:":40"|striptags }}
                </small>
            </p>
        </a>
    {% endfor %}
</div>
{#</div>#}
{#</div>#}